.button {
  background-color:rgb(114, 112, 112);
}

.form.user .form-control-user{

  font-size: 0.8rem;
  border-radius:10 rem;
  padding:1.5rem 1 rem;

}

.smal{
  cursor: pointer;
}

.contain {
  height:100vh;
  vertical-align: center;

}

.card{
  max-width: 20px;
  min-width: 400px;
  margin:0px;
  position: absolute;
  top: 400px;
  left: 400px;
  transform: translate(-10%,-10%);

}


